* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$color-1: #ffffff;
$color-2: #E2E6E7;
$color-3: #FFC12D;
$color-4: #A1B1BC;
$color-5: #2C3E50;
$color-6: #F9B718;
$color-7: #CFD2D3;


body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.alert {
    display: flex;
    position: relative;
    width: 570px;
    height: 150px;
    border: 1px solid #E2E6E7;
    border-radius: 10px;
    padding-left: 49px;
    padding-top: 42px;
    margin-left: 50px;
    margin-top: 50px;


    &::before {
        content: '\f12a';
        font-family: 'FontAwesome';
        display: flex;
        width: 50px;
        height: 50px;
        justify-content: center;
        align-items: center;
        background-color: $color-3;
        border: 7px solid $color-6;
        border-radius: 50%; 
        flex-shrink: 0; 
        font-size: 24px;
        margin-right: 29px;      
    }

    div {
        padding-right: 70px;
        h2 {
            font-size: 14px;
            font-family: 'Lato', sans-serif;
            line-height: 10px;
            letter-spacing: 1.35px;
            text-transform: uppercase;
            font-weight: 900;
            color: #2C3E50;
            margin-bottom: 14px;
        }
        p {
            font-size: 14px;
            font-family: 'Lato', sans-serif;
            line-height: 24px;
            color: #A1B1BC;
        }
    }
   
    a::before {
        content: '\f00d';
        font-family: 'FontAwesome';
        position: absolute;
        top: 17px;
        right: 18px;
        color: $color-7;
        font-size: 14px;
    }
    
}