$color-1: #FFFFFF;
$color-2: #E2E6E7;
$color-3: #FFC12D;
$color-4: #A1B1BC;
$color-5: #2C3E50;
$color-6: #F9B718;
$color-7: #CFD2D3;
$color-8: #F55C43;
$color-9: #FD7761;
$color-10: #D52E13;
$color-11: #A47503;
$color-12: #8781BD;
$color-13: #A39CDC;
$color-14: #5B568E;
$color-15: #7BC200;
$color-16: #97E411;
$color-17: #558502;
$color-18: #47B4F6;
$color-19: #6FD9FC;
$color-20: #0787D4;
$color-21: #A1B1BC;
$color-22: #2C3E50;
